body {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4545;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #E31E24;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #E31E24;
}

.icon {
  fill: currentColor;
  display: block;
}

.button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: none;
}

.logo {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.1818;
  color: #E31E24;
}

.form-field {
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: none;
}

.search {
  position: relative;
}

.search__input {
  color: #7B7B7B;
  font-size: 14px;
  line-height: 1.14;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}
.search__input--page-header {
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 5px;
  width: 300px;
}
.search__input--filter {
  width: 100%;
  font-size: 11px;
  line-height: 1.4545;
  padding-left: 20px;
  padding-right: 5px;
}

.search__input:focus,
.search__input:focus-visible {
  outline: none;
}

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search__submit {
  position: absolute;
  color: #7B7B7B;
}
.search__submit--prepend {
  bottom: 4px;
  left: 5px;
}
.search__submit--append {
  bottom: 4px;
  right: 8px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumbs--margin-bottom {
  margin-bottom: 10px;
}

.breadcrumbs__link {
  font-size: 11px;
  line-height: 1.1818;
  letter-spacing: 0.06em;
  color: #999999;
}
.breadcrumbs__link--current {
  font-weight: 700;
  color: #666666;
}

.breadcrumbs__icon {
  margin-left: 8px;
  margin-right: 8px;
}

.information-bar {
  border-bottom: 1px solid #E31E24;
}
.information-bar--margin-bottom {
  margin-bottom: 5px;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 30px;
  border-bottom: 3px solid #CCCCCC;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.page-header__search {
  margin-left: 60px;
  padding-top: 5px;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  margin-right: 60px;
}
.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__link {
  display: block;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #E31E24;
  font-size: 16px;
  line-height: 1.1875;
}
.nav-list__link:hover {
  color: #C7171D;
}

.login-button {
  color: #E31E24;
  font-size: 16px;
  line-height: 1.1875;
  display: flex;
  align-items: center;
}
.login-button:hover {
  color: #C7171D;
}

.login-button__icon {
  margin-left: 5px;
}

.main {
  position: absolute;
  bottom: 30px;
  top: 60px;
  left: 0;
  width: 100%;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 226px;
  border-right: 1px solid #CCCCCC;
  overflow-y: scroll;
}
.sidebar--category-tree {
  padding: 10px 20px 15px 15px;
  background-color: #fff;
}
.sidebar--filter {
  padding: 10px 15px;
  background-color: #F4F4F4;
}

.tree__title {
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #333333;
  border-bottom: 1px solid #E31E24;
}

.tree-list {
  margin-top: 13px;
  font-size: 12px;
  line-height: 1.167;
}

.tree-list__item {
  margin-bottom: 12px;
}
.tree-list__item:last-child {
  margin-bottom: 0;
}

.tree-list__link {
  color: #333333;
}
.tree-list__link--current {
  font-weight: 500;
  color: #E31E24;
}

.main-content {
  padding-left: 256px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  background-color: burlywood;
  background-color: #fff;
  overflow-y: scroll;
}

.main-content__title {
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 12px;
  line-height: 1.167;
  color: #333333;
}

.category-list__item--accent-border {
  border-top: 1px solid #E31E24;
}

.category {
  padding-top: 10px;
  padding-bottom: 40px;
}

.category__title {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.06em;
  color: #333333;
}

.category__inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

.sub-category {
  margin-right: 100px;
}
.sub-category:last-child {
  margin-right: 0;
}

.sub-category__label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  color: #333333;
  display: flex;
  align-items: center;
}
.sub-category__label::before {
  margin-right: 6px;
  content: "";
  width: 5px;
  height: 14px;
  background-color: #E31E24;
}

.sub-category__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.sub-category__item {
  margin-right: 15px;
}
.sub-category__item:last-child {
  margin-right: 0;
}

.category-simple {
  padding-bottom: 30px;
}

.category-simple__title {
  margin-bottom: 15px;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #333333;
  background-color: #F4F4F4;
}

.category-simple__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 15px;
}

.category-simple__category-list {
  margin-top: 5px;
}

.product-card {
  display: block;
  width: 90px;
}
.product-card:hover .product-card__thumb {
  border-color: #E31E24;
}
.product-card--hor {
  padding: 7px;
  width: 350px;
  height: 100px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.product-card--hor .product-card__thumb {
  width: 90px;
  height: auto;
  border: none;
  padding: 0;
  margin-right: 17px;
}
.product-card--hor .product-card__title {
  margin: 0;
  text-align: left;
}
.product-card--hor:hover {
  border: 1px solid #E31E24;
}

.product-card__thumb {
  padding: 5px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.2px solid #eee;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card__title {
  margin-top: 3px;
  line-height: 1.55;
  font-weight: 400;
  text-align: center;
}

.filter-catalog__clear-all {
  display: block;
  margin-bottom: 5px;
  color: #666666;
  font-size: 11px;
  font-weight: 500;
  text-align: right;
}

.filter-catalog__item {
  padding-top: 8px;
  padding-bottom: 12px;
}
.filter-catalog__item:not(:last-child) {
  border-bottom: 1px solid #E31E24;
}

.filter__attr {
  margin-bottom: 8px;
}

.filter__value {
  color: #7B7B7B;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.4545;
}

.value-list {
  max-height: 120px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 28px;
       column-gap: 28px;
}

.value-list__item {
  margin-bottom: 4px;
}
.value-list__item:last-child {
  margin-bottom: 0;
}

.filter__select-list {
  margin-top: 5px;
  padding: 10px 16px;
  border: none;
  width: 100%;
}

.filter__attr {
  margin-bottom: 8px;
}

.filter__value {
  color: #7B7B7B;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.4545;
}

.value-list {
  max-height: 120px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 28px;
       column-gap: 28px;
}

.value-list__item {
  margin-bottom: 4px;
}
.value-list__item:last-child {
  margin-bottom: 0;
}

.filter__select-list {
  margin-top: 5px;
  padding: 10px 16px;
  border: none;
  width: 100%;
}

.image-card-set {
  display: flex;
  margin-bottom: 8px;
}
.image-card-set--row {
  flex-direction: row;
  justify-content: space-between;
}
.image-card-set--wrap-row {
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 5px;
}
.image-card-set--column {
  flex-direction: column;
}
.image-card-set--column .image-card-set__item {
  margin-bottom: 5px;
}
.image-card-set--column .image-card-set__item:last-child {
  margin-bottom: 0;
}

.image-card--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-card--vertical {
  display: flex;
  flex-direction: column;
}

.image-card__thumb--short {
  width: 44px;
  margin-bottom: 5px;
}
.image-card__thumb--wide {
  width: 95px;
  margin-right: 10px;
}
.image-card__thumb--meta-column {
  width: 37px;
  margin-bottom: 5px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding-left: 15px;
  padding-right: 40px;
  border-top: 1px solid #CCCCCC;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
}

.page-footer-nav__list {
  display: flex;
  align-items: center;
}

.footer-nav__item {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.footer-nav__item::after {
  margin-left: 15px;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #CCCCCC;
}
.footer-nav__item:last-child {
  margin-right: 0;
}

.footer-nav__link {
  display: block;
  color: #333333;
}

.page-footer__agreement {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */