.main-content {
    padding-left: calc($sidebar-width + 30px);
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    background-color: burlywood;
    background-color: $primary-bg-color;

    overflow-y: scroll;
}