.product-card {
    display: block;
    width: 90px;

    &:hover .product-card__thumb {
        border-color: $accent-color;
    }
}

.product-card__thumb {
    padding: 5px;

    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1.2px solid #eee;

    transition: border-color $default-transition-time $default-transition-func;
}

.product-card__image {}

.product-card__title {
    margin-top: 3px;
    line-height: 1.55;
    font-weight: 400;
    text-align: center;
}