//Color
$accent-color: #E31E24;
$primary-text-color: #666666;
$secondary-text-color: #333333;
$primary-title-color: #333333;
$primary-bg-color: #fff;
$secondary-bg-color: #F4F4F4;
$primary-border-color: #CCCCCC;